@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.4em;
    color: #FFF;
    overflow: hidden;
}

main {
    position: absolute;
    background: #393232;
    height: 100%;
    width: 100%;
}

.wrapper {
    position: absolute;
    background: #616161;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    width: 98%;
    height: 98%;
    margin: 1%;
}

ul {
    font: 14px 'Ubuntu', sans-serif;
    font-size: 0;
    width: 90%;
    margin-left: 5%;
}

ul li {
    display: inline-block;
    background: #40A798;
    border: 2px solid snow;
    font-size: 16px;
    font-weight: 600;
    padding: 1%;
    width: 17%;
    /* inline-block для IE6-7*/
    //display : inline;
    //zoom : 1;
}


ul li:nth-child(2n) {
    background: #FC6E5E;
    width: 32%;
}

ul li:nth-child(3) {
    background: #F7B236;
    width: 35%;
}

ul li:nth-child(4) {
    background: #F7B236;
}

ul li:nth-child(6) {
    background: #FF5722;
    width: 35%;
}

ul li:nth-child(7) {
    background: #BC5148;
}


ul li:nth-child(9) {
    background: #BC5148;
    width: 35%;
}

ul li:nth-child(10) {
    background: #333644;
    width: 88.7%;
}

ul:hover li{opacity: 0.7;}

ul li:hover {
    opacity: 1;
    transition: all .1s ease-in;
    cursor: pointer;
}







